/* --yale-blue: #084b83ff;
--blue-ncs: #2585b0ff;
--maximum-blue: #5fb0cdff;
--sky-blue: #7cc6dcff;
--non-photo-blue: #99dbeaff;
--azure-x-11-web-color: #dbf0f3ff;
--cultured: #f0f6f6ff; 
font-family: "Didact Gothic";*/

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Didact Gothic";
  background-color: #f0f6f6;
  color: #084b83ff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
  font-size: 2rem;
  width: 50%;
  margin-bottom: 25px;
}

.text-input {
  font-family: "Didact Gothic";
  width: 33%;
  height: 45px;
  border-radius: 2px;
  color: #084b83;
  background-color: #f0f6f6;
  box-shadow: 0 5px 15px rgba(209, 209, 209, 0.514);
  margin-bottom: 25px;
  padding-left: 25px;
  outline: none;
  border: solid #084b83 1px;
  font-size: 1.2rem;
}

.validate-button {
  font-family: "Didact Gothic";
  height: 40px;
  width: 150px;
  border: 0;
  border-radius: 2px;
  background-color: #2585b0;
  color: #f0f6f6;
  cursor: pointer;
}

.validate-button:hover {
  background-color: #5fb0cdff;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #084c8328;
  /* border: solid black 1px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg {
  /* border: solid black; */
  background-color: #f0f6f6;

  width: 50%;
  height: 25%;
  min-height: 350px;
  border-radius: 5px;
}

.modal-bg-big {
  /* border:solid black; */
  background-color: #f0f6f6;
  width: 80%;
  height: 80%;
  min-height: 350px;
  border-radius: 5px;
}

.modal-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  padding: 10px;
}

.modal-text {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
  padding: 10px;
}

.modal-text-instructions {
  /* text-align: start; */
  font-size: 1.5rem;
  margin-bottom: 15px;
  padding: 50px;
}

.invisible {
  visibility: hidden;
}

.instructions {
  position: fixed;
  bottom: 35px;
  right: 35px;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  background-color: #2585b0;
  color: #f0f6f6;
}

.instructions:hover {
background-color: #5fb0cdff;
}

.logo {
  width: 250px;
  position: absolute;
  top: 0;
  left:0;
}

@media (max-width: 420px) {
    .logo{
      width: 150px;
      /* border: solid black 1px; */
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -100%);
    }

    .text-container {
      font-size: 1.1rem;
      /* border: solid red 1px; */
      width: 90%;
    }

    .text-input {
      width: 90%;
      height: 30px;
      font-size: 1.1rem;
    }

    .validate-button{
      width: 130px;
      height: 30px;
      font-weight: 500;
      font-size: 1rem;
    }

    .modal-bg{
      width: 90%;
    }

    .modal-bg-big {
      height: 100vh;
      width: 100vw;
      /* padding: 10px; */
      overflow: auto;
    }

    .modal-title {
      font-size: 1.3rem;
      margin-bottom: 0px;
      /* border: solid green 1px; */
    }

    .modal-text{
      font-size: 1.1rem;
    }
    
    .modal-text-instructions {
      /* border: solid red 1px; */
      padding: 0;
      padding: 10px;
      font-size: 1.1rem;
    }

    .instructions{
      font-size: 1.4rem;
      width: 45px;
      height: 45px;
    }
}


@media (max-width: 744px){
  .logo{
    width: 200px;

  }

  .text-container {
    font-size: 1.5rem;
    /* border: solid red 1px; */
    width: 90%;
  }

  .text-input {
    width: 70%;
    height: 30px;
    font-size: 1.3rem;
  }

  .validate-button{
    width: 140px;
    height: 40px;
    /* font-weight: 600; */
    font-size: 1.1rem;
  }

  .modal-bg{
    width: 100%;
    border-radius: 0px;
  }

  .modal-bg-big {
    height: 100vh;
    width: 100vw;
    /* padding: 10px; */
    overflow: auto;
  }

  .modal-title {
    font-size: 1.5rem;
    margin-bottom: 0px;
    /* border: solid green 1px; */
  }

  .modal-text{
    font-size: 1.4rem;
  }
  
  .modal-text-instructions {
    /* border: solid red 1px; */
    padding: 0;
    padding: 10px;
    font-size: 1.3rem;
  }

  .instructions{
    font-size: 1.6rem;
    width: 50px;
    height: 50px;
  }
}